CLIENT_NETWORK=${CLIENT_NETWORK}
CLIENT_USER=siggame
DOCKER_HOST=${DOCKER_HOST}
DOCKER_PORT=${DOCKER_PORT}
GAME_NAME=${GAME_NAME}
GAME_SERVER_HOST=${GAME_SERVER_HOST}
REGISTRY_HOST=${REGISTRY_HOST}
REGISTRY_PORT=${REGISTRY_PORT}
RETRY_ATTEMPTS=5
RUNNER_QUEUE_LIMIT=1
TIMEOUT=5000
