DB_HOST=${DB_HOST}
DB_PORT=${DB_PORT}
RUNNER_QUEUE_LIMIT=1
REGISTRY_HOST=${REGISTRY_HOST}
GAME_NAME=Saloon
GAME_SERVER_HOST=${GAME_SERVER_HOST}
GAME_SERVER_NETWORK=${GAME_SERVER_NETWORK}
RETRY_ATTEMPTS=5
TIMEOUT=5000
